PORT=4000
NODE_ENV=development
APP_NAME=SVP Backend API

# Frontend URL(s) for CORS (comma separated)
CORS_ORIGINS=http://localhost:3000

# Your backend JWT
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
ACCESS_TOKEN_TTL_SECONDS=900
REFRESH_TOKEN_TTL_DAYS=14

# Cookie
COOKIE_SECURE=false
COOKIE_SAMESITE=lax

# Database (Postgres)
DATABASE_URL="postgresql://svp:svp@localhost:5432/svpdb?schema=public"

# SVP API
SVP_BASE_URL="https://svp-international-api.pacc.sa"
SVP_LOCALE="en"
SVP_FE_APP="legislator"

# Encryption key (32 bytes base64 recommended)
SESSION_ENC_KEY_BASE64=
